# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Arquivos de compilação
*.class
*.dll
*.jar

# Arquivos de configuração locais (geralmente relacionados ao VSCode)
.vscode/

# Logs e arquivos temporários
logs/
*.log
*.tmp

# Arquivos de ambiente e variáveis locais
.env.local
.env.development.local
.env.test.local
.env.production.local

# Arquivos de configuração específicos do sistema
.DS_Store

# Dependendo das bibliotecas de terceiros usadas, você pode precisar adicionar mais regras específicas para elas
# Para projetos React padrão, isso geralmente deve ser suficiente
