.containerHeader {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: rgb(37, 35, 35);
    padding: 2em;
    margin-bottom: 2em;

}

.containerBy {
    width: 100%;
    display: flex;
    justify-content: center;
    color: rgb(184, 184, 184);
    font-size: 0.7em;
}

.containerBy a {
    color: rgb(184, 184, 184);
}

.containerTitulo {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: rgb(37, 35, 35);
    font-family: 'Sometype Mono', monospace;



}

.pen {
    width: 1.5em;
    height: 1.5em;
    margin-top: 0.3em;
    margin-right: 1em;
    color: white;
}

.titulo {
    text-align: center;
    color: white;
    margin: 0
}

.journal {
    margin-top: 0.3em;
    width: 1.5em;
    height: 1.5em;
    margin-left: 1em;
    color: white;
}