* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;



}


.containerAdicionarFrase {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;



}

.TextArea {
  width: 50%;
}

.TextArea:hover {
  background-color: rgb(224, 224, 224);
}

.ButtonAdd {
  color: white;
  width: 12em;
  margin-top: 1em;
  background-color: rgb(34, 102, 202);
}

button:hover {

  color: white;
}

.divFrases {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;

  height: 100%;
}

.imputBuscar {
  margin-top: 2em;
  width: 50%;
  text-align: center;
}

.containerPesquisa {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.containerButtons {

  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 3em;

}

.containerDownload {

  cursor: pointer;
  text-align: center;
  border-radius: 0.3em;
  margin-right: 1em;
  display: flex;
  width: 9em;
  height: 2em;
  background-color: rgb(28, 95, 158);
  justify-content: center;
  align-items: center;
}

.containerUpload {
  position: relative;
  overflow: hidden;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  border-radius: 0.3em;
  margin-left: 1em;
  display: flex;
  width: 9em;
  height: 2em;
  background-color: rgb(224, 163, 33);
  justify-content: center;
  align-items: center;

}


.containerDownload:hover {

  background-color: rgb(61, 141, 216);
}

.containerUpload:hover {
  background-color: rgb(250, 200, 94);
}


.file-input {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
  padding: 2em;
}

.containerButtons p {

  font-size: 0.9em;
  margin-left: 0.5em;
  color: #efefef;
  cursor: pointer;
}

.containerButtons svg {
  color: #efefef;
  cursor: pointer;

}