* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;



}


.containerAdicionarFrase {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;



}

.TextArea {
  width: 50%;
}

.TextArea:hover {
  background-color: rgb(224, 224, 224);
}

.ButtonAdd {
  color: white;
  width: 12em;
  margin-top: 1em;
  background-color: rgb(34, 102, 202);
}

button:hover {
  background-color: rgb(45, 122, 65);
  color: white;
}

.divFrases {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;

  height: 100%;
}

.imputBuscar {
  margin-top: 2em;
  width: 50%;
  text-align: center;
}

.containerPesquisa {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}